@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


body {
    background: #E0E1E9;
    /* background: radial-gradient(circle, rgba(194,106,170,1) 10%, rgba(0,155,182,1) 40%, rgba(245,132,85,1) 100%); */
}